%ul.tabnav
    %li= link_to "Show details", member
    %li= link_to "View Credit transaction history", credits_path(id: @member)
    %li= link_to "View Debit transaction history", debits_path(id: @member)